/* Write your CSS Here. */

body {
    margin: auto;
    width: 80%;
    padding: auto;
    text-align: center;
    background: #ebdddd;
  }
  .button {
    margin: 0.5em 0;
    padding: 0.8em 2.2em;
    cursor: pointer;
    background: #32a9f8;
    border: none;
    border-radius: 0.4em;
  
    text-transform: uppercase;
    font-size: 1.4em;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
  }
  
  #game_board {
    margin: 1rem;
    padding: 1rem;
    height: 400px;
    width: 100%;
    text-align: center;
    display: none;
    background: #fafafa;
    border: 1px solid black;
    border-radius: 0.5rem;
  }
  
  #score_board {
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  
  #score_board p {
    flex-direction: column;
    margin: 0.5em 0.5rem;
    padding: 0.8em 2.2em;
    background: #b3e0ee;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    border: 1px black;
    border-radius: 1rem;
    
  }
  
  #question {
    margin-top: auto;
    height: 100px;
    width: 100%;
    background-color: #eeeeee;
    font-size: 1.4em;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 0.5rem;
  }
  
  #answer_box {
    width: 100%;
    height: 50px;
    margin: 2px;
    background-color: #eeeeee;
    border-radius: 0.5rem;
    font-size: 1.4em;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    text-align: center;
  }
  
  .message {
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 0.8em 2.2em;
    font-size: 1.4em;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    text-align: center;
    display: none;
  }
  